<ion-header class="chat-header" [translucent]="true">
  <ion-toolbar>
    <div class="header-left">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/main" text=""></ion-back-button>
      </ion-buttons>

      <div class="contact-info">
        <img [src]="contact.image || 'assets/icon/placeholder.png'" alt="Avatar" class="contact-avatar" />
        <div class="contact-name">{{ contact.name + ' ' + contact.surname }}</div>
      </div>
    </div>

    <div class="header-right" slot="end">
      <ion-icon name="call" class="header-icon" (click)="gotoCall()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (click)="isselecting = false">
  <div class="chat-container" #chatContent>
    @if(messages){
    @for(group of messages; track group.date){
    <div class="date-separator">{{ group.date }}</div>
    <div class="message-group">
      @for(message of group.messages; track message.id){
      @if(message.from == uid){
      <app-message [message]="message" class="message sent"></app-message>
      } @else {
      <app-message [message]="message" class="message received"></app-message>
      }
      }

    </div>
    }

    }
  </div>
</ion-content>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGzr6K2Ua5p-51Qy4oXTuLEzRkct96FBE&libraries=places"
  defer></script>


<div class="chat-footer">
  @if(optionSelected==1 || optionSelected==2){
  @if(preview){
  <img [src]="preview" alt="image" />
  }
  }
  @if(optionSelected==3){
  <ion-button fill="clear" (click)="cancelRecording()">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button>
  }
  @if(optionSelected==4){
  <div class="location-preview">
    <ion-button fill="clear" (click)="reset()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    Location Calculated

  </div>

  }

  @if(optionSelected==5){
  <ion-button fill="clear" (click)="cancelVideo()">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button>
  }

  @if(optionSelected==6){
  <ion-button fill="clear" (click)="cancelFile()">
    <ion-icon name="trash-outline"></ion-icon>
    @if(preview != ''){
    <div>{{file.name}}</div>
    }

  </ion-button>
  }

  <ion-item lines="none">
    <ion-input type="text" placeholder="Escribe un mensaje..." [(ngModel)]="messageText" class="message-input"
      (keyup.enter)="sendMessage()"></ion-input>
    <ion-button fill="clear" (click)="isselecting = !isselecting" class="bar-icons">
      <ion-icon name="attach-outline" slot="icon-only"></ion-icon>
    </ion-button>
    @if(optionSelected==3){
    <ion-button fill="clear" (click)="stopandUpload()">
      <ion-icon name="mic-off-outline"></ion-icon>
    </ion-button>
    } @else {
    <ion-button fill="clear" (click)="sendMessage()" class="bar-icons">
      <ion-icon name="send" slot="icon-only"></ion-icon>
    </ion-button>
    }

  </ion-item>
</div>

<div *ngIf="isselecting" class="options">
  <ion-button (click)="selectOption(1)" class="option-button">
    <ion-icon name="camera" class="option-icon"></ion-icon>
  </ion-button>
  <ion-button (click)="selectOption(2)" class="option-button">
    <ion-icon name="image" class="option-icon"></ion-icon>
  </ion-button>
  <ion-button (click)="selectOption(3)" class="option-button">
    <ion-icon name="mic" class="option-icon"></ion-icon>
  </ion-button>
  <ion-button (click)="selectOption(4)" class="option-button">
    <ion-icon name="location" class="option-icon"></ion-icon>
  </ion-button>
  <ion-button (click)="selectOption(5)" class="option-button">
    <ion-icon name="film" class="option-icon"></ion-icon>
  </ion-button>
  <ion-button (click)="selectOption(6)" class="option-button">
    <ion-icon name="folder" class="option-icon"></ion-icon>
  </ion-button>
</div>