.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom right, #3f51b5, #5c6bc0);
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: #000000;
  }
  
  .login-subtitle {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 2rem;
  }
  
  .login-item {
    margin-bottom: 1.2rem;
  }
  
  .login-button {
    margin-top: 1rem;
    --background: #3f51b5;
    --border-radius: 12px;
    --box-shadow: 0 5px 10px rgba(63, 81, 181, 0.4);
  }
  
  .register {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #3f51b5;
    cursor: pointer;
    text-decoration: none;
  }

  img{
    width: 75%;
    height: 75%;
    object-fit: cover;
  }