<ion-content class="ion-padding login-container animate__animated animate__fadeInDown">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
    <div class="login-card">
      <div style="display: flex">
        <img src="assets/icon/logo.png">
        <h2 class="login-title">Register</h2>
      </div>
      
      <p class="login-subtitle">Please complete the form to register </p>

      <ion-item class="Name">
        <ion-input label="Phone Number" labelPlacement="floating" formControlName="name" type="text" placeholder="Jane"></ion-input>
      </ion-item>

      <ion-item class="login-item">
        <ion-input label="Last Name" labelPlacement="floating" formControlName="surname" type="text" placeholder="Doe"></ion-input>
      </ion-item>

      <ion-item class="login-item">
        <ion-input label="Phone Number" labelPlacement="floating" formControlName="phone" type="tel" placeholder="(+57) 123 4567 890"></ion-input>
      </ion-item>

      <ion-item class="login-item">
        <ion-input label="Email" labelPlacement="floating" formControlName="email" type="email" placeholder="example@gmail.com"></ion-input>
      </ion-item>

      <ion-item class="login-item">
        <ion-input label="Password" labelPlacement="floating" type="password" formControlName="password" placeholder="********"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="registerForm.invalid" class="login-button">
        Register
      </ion-button>

      <div class="login-subtitle" style="margin-top: 10px;"> 
        <span>I already have an account. </span>
        <a class="login" routerLink="/login">Log In</a>
      </div>
    </div>

  </form>
</ion-content>  