<!-- TEXT -->
<div *ngIf="message.type === 'text'">
  {{ message.content }}
  <span class="time">{{ message.date | date: 'shortTime' }}</span>
</div>

<!-- IMAGE -->
<div *ngIf="message.type === 'image'">
  <img [src]="message.content" alt="image">
  <span class="time">{{ message.date | date: 'shortTime' }}</span>
</div>

<!-- AUDIO -->
<div *ngIf="message.type === 'audio'" >
  <audio controls class="audio-message" preload="metadata" style="width: 60vw;">
    <source [src]="message.content" type="audio/webm">
  </audio>
  <span class="time">{{ message.date | date: 'shortTime' }}</span>
</div>

<!-- VIDEO -->
<div *ngIf="message.type === 'video'" class="video-message">
  <video controls preload="metadata" style="width: 60vw;">
    <source [src]="message.content" type="video/webm">
    Tu navegador no soporta el video.
  </video>
  <span class="time">{{ message.date | date: 'shortTime' }}</span>
</div>

<!-- LOCATION -->
<div *ngIf="message.type === 'location'">
  <div #mapContainer id="map" style="width: 60vw; height: 200px; border-radius: 10px;"></div>
  <span class="time">{{ message.date | date: 'shortTime' }}</span>
</div>

<!-- DEFAULT -->
<div *ngIf="!['text', 'image', 'audio', 'video', 'location'].includes(message.type)">
  Error
  <span class="time">{{ message.date | date: 'shortTime' }}</span>
</div>
