<ion-content [fullscreen]="true">
  <ng-container [ngSwitch]="selectedTab">
    <app-tab-home *ngSwitchCase="'home'"></app-tab-home>
    <app-tab-new-contact *ngSwitchCase="'new-contact'"></app-tab-new-contact>
    <app-tab-contacts [Contacts]="Contacts" (callID)="setcallID($event)" *ngSwitchCase="'contacts'"></app-tab-contacts>
    <app-tab-profile [user]="user" (islogginOut)="logOut()" *ngSwitchCase="'profile'"></app-tab-profile>
  </ng-container>
</ion-content>

<ion-toolbar>
  <ion-segment mode="md" class="bottom-segment" [(ngModel)]="selectedTab">
    <!-- <ion-segment-button value="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-segment-button> -->

    <ion-segment-button value="new-contact">
      <ion-icon name="call-outline"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="contacts">
      <ion-icon name="people-outline"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

@if(callID){
<app-call [meetingId]="callID"></app-call>
}