<ion-content [fullscreen]="true">
  <div class="header">
    <h1>ChafApp</h1>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </div>
  <ng-container [ngSwitch]="selectedTab">
    <app-tab-chats [chats]="chats" *ngSwitchCase="'chats'"></app-tab-chats>
    <app-tab-new-contact *ngSwitchCase="'new-contact'"></app-tab-new-contact>
    <app-tab-contacts [Contacts]="Contacts" *ngSwitchCase="'contacts'"></app-tab-contacts>
    <app-tab-profile [user]="user" (islogginOut)="logOut()" *ngSwitchCase="'profile'"></app-tab-profile>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar class="toolbar" color="dark">
    <ion-segment mode="md" class="tabs" [(ngModel)]="selectedTab">

      <ion-segment-button value="chats">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="contacts">
        <ion-icon name="people-outline"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="new-contact">
        <ion-icon name="sparkles-outline"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="profile">
        <img src="{{user?.image || 'assets/icon/placeholder.png'}}" alt="User" class="user-icon" />
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>