<ion-title>My Profile</ion-title>

<img src="assets/icon/placeholder.png" alt="Perfil" class="profile-image">

<ion-content>
  <form [formGroup]="profileForm">
    <div style="margin-bottom: 30px;">
      <ion-item>
        <ion-input label="Name" formControlName="name" label-placement="stacked" placeholder="Jane" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Surname" formControlName="surname" label-placement="stacked" placeholder="Doe" formControlName="surname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Phone" formControlName="phone" label-placement="stacked" placeholder="(+57) 123 4567 890)" formControlName="phone"></ion-input>
      </ion-item>
    </div>
    <ion-button expand="full" color="primary" (click)="toggleEdit()" *ngIf="!isEditing">
      Edit
    </ion-button>

    <ion-button type="submit" expand="full" color="success" (click)="onSubmit()" *ngIf="isEditing">
      Save
    </ion-button>
  </form>
  <ion-button expand="full" color="danger" (click)="logOut()" *ngIf="!isEditing">
    LogOut
  </ion-button>
</ion-content>


